<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Aplicativo Namoro</a>
        <ul class="navbar-nav mr-auto" *ngIf="loggedIn">
            <li class="nav-item">
                <a class="nav-link" href="#">Conrespondência</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Lista</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Mensagem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " (click)="logout()" href="#">Sair</a>
            </li>
        </ul>
        <div class="dropdown" *ngIf="loggedIn" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Bem Vindo</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a href="" class="dropdown-item">Editar Perfil</a>
                <div class="dropdown-divider"></div>
                <a href="" class="dropdown-item" (click)="logout()">Sair</a>
            </div>
        </div>

        <form *ngIf="!loggedIn" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
            <input
             name="nomeUsuario"
              [(ngModel)]="model.Nome"
               class="form-control mr-sm-2" type="text"
                placeholder="Nome Utilizador">
            <input
             name="senhaUsuario" 
             [(ngModel)]="model.Senha"
              class="form-control mr-sm-2" 
              type="password"
                placeholder="Senha Utilizador">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>
</nav>